.grid__wrapper {
  font-size: 20px; /* 원하는 크기로 설정 */
}

.grid__wrapper .archive__item-title {
  font-size: 18px; /* 제목 폰트 크기 */
}

.grid__wrapper .archive__item-excerpt {
  font-size: 14px; /* 요약 부분 폰트 크기 */
}
